<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>87019757262-o8uns1d5gkqs5qj9jut9e5pt21k94a5n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.87019757262-o8uns1d5gkqs5qj9jut9e5pt21k94a5n</string>
	<key>API_KEY</key>
	<string>AIzaSyBWDRJHNAUEjBC1-Uoj2KKVvsV_IKOPnVQ</string>
	<key>GCM_SENDER_ID</key>
	<string>87019757262</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mitrakov.self.tommypush</string>
	<key>PROJECT_ID</key>
	<string>tommypush-405b7</string>
	<key>STORAGE_BUCKET</key>
	<string>tommypush-405b7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:87019757262:ios:5b936582b41cc78d5efa9f</string>
</dict>
</plist>